<ng-container *ngIf="authService.currentUser | async as user">
  <div class="calendar-container">
    <mat-form-field *ngIf="user.role != 'doctor'">
      <mat-label>Select Doctor</mat-label>
      <mat-select [(ngModel)]="selectedDoctorId" (selectionChange)="loadData()">
        <mat-option
          *ngFor="let doctor of doctors$ | async"
          [value]="doctor.uid"
        >
          {{ doctor.displayName }}, {{ doctor.doctorDetails?.specialization }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="user.role === 'doctor'" class="doctor-actions">
      <button mat-raised-button routerLink="/calendar/availability">
        Dodaj dostępność
      </button>
      <button mat-raised-button routerLink="/calendar/absence">
        Dodaj nieobecność
      </button>
    </div>

    <table class="calendar-grid">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <div class="time-scroll">
          <button
            mat-icon-button
            (click)="scrollUp()"
            [disabled]="!canScrollUp"
            class="scroll-button"
          >
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
        </div>
      </tr>
      <tr>
        <th>
          <button mat-icon-button (click)="previousWeek()">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </th>
        <th *ngFor="let day of weekDays" [class.today-column]="isToday(day)">
          <div class="column-header">
            {{ day | date : "EEE" }}, {{ day | date : "dd.MM" }}
            <div class="appointment-count">
              Wizyt: {{ getAppointmentCountForDay(day) }}
            </div>
          </div>
        </th>
        <th>
          <button mat-icon-button (click)="nextWeek()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </th>
      </tr>

      <tr *ngFor="let slot of displayedTimeSlots">
        <td class="time-cell" [class.current-time]="isCurrentTimeSlot(slot)">
          {{ slot }}
        </td>
        <td
          *ngFor="let day of weekDays"
          class="slot-cell"
          [class.past]="isPast(day, slot)"
          [class.available]="isAvailable(day, slot) && user.role === 'patient'"
          [class.available-doctor]="
            isAvailable(day, slot) && user.role === 'doctor'
          "
          [class.booked]="isBooked(day, slot)"
          [class.absence]="isDoctorAbsent(day)"
          [class.current-time]="isCurrentDateTimeSlot(day, slot)"
          (click)="user.role === 'patient' && onSlotClick(day, slot)"
        >
          <ng-container *ngIf="getAppointment(day, slot) as appt">
            <div class="appointment-info">
              <ng-container *ngIf="user.role === 'doctor'">
                <div class="patient-name">{{ appt.patientName }}</div>
                <div class="patient-details">
                  <small
                    >({{ appt.patientGender }}, {{ appt.patientAge }})</small
                  >
                </div>
                <div>{{ appt.type }}</div>
              </ng-container>
              <ng-container *ngIf="user.role === 'patient'">
                <div
                  *ngIf="appt.patientId === user.uid"
                  class="own-appointment"
                >
                  <div class="visit-type">
                    {{ appt.type }}
                  </div>
                </div>
                <div
                  *ngIf="appt.patientId !== user.uid"
                  class="other-appointment"
                >
                  Termin zajęty
                </div>
              </ng-container>
            </div>
          </ng-container>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="navigation-column">
          <div class="time-scroll">
            <button
              mat-icon-button
              (click)="scrollDown()"
              [disabled]="!canScrollDown"
              class="scroll-button"
            >
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</ng-container>
